<!-- BEGIN_INCLUDE(x-road:send-message) -->
    <x-road:x-road name="Xroad_config" endpointUrl="${endpoint.lipa}"
        clientXroadInstance="${lipa.instance}" clientMemberClass="${lipa.client.memberClass}"
        clientMemberCode="${lipa.client.memberCode}" clientSubsystemCode="${lipa.client.subsystemCode}"
        serviceXroadInstance="${lipa.instance}" serviceMemberClass="${lipa.service.x.memberClass}"
        serviceMemberCode="${lipa.service.x.memberCode}" serviceSubsystemCode="${lipa.service.x.subsystemCode}" />

    <x-road:send-message config-ref="Xroad_config"
      serviceServiceCode="${lipa.service.x.serviceCode}" serviceServiceVersion="${lipa.service.x.serviceVersion}" userId="#[message.inboundProperties.'userId']" />
<!-- END_INCLUDE(x-road:send-message) -->
